{% extends "main.html" %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/cover.png" width="50%" height="50%" alt="" >
    <h1 class="display-5 fw-bold text-body-emphasis">Page Hits</h1>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
	    {% for page in pages %}
	    <a href="{{ page.page }}">{{ page.page }} - {{ page.count }}</a><br>
	    {% endfor %}
  </div>
  </div>
  <h1 class="display-5 fw-bold text-body-emphasis">Profile Views</h1>
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
	  {% for profile in profiles %}
	  <a href="/users/{{ profile.id }}">{{ profile.name }} - {{ profile.count }}</a><br>
	  {% endfor %}
</div>
</div>

  </div>
{% endblock content %}
