  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
		<img src="/static/scylla.png" width="52" height="60"><use xlink:href="#bootstrap"/>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
	      <li><a href="/" class="nav-link px-2 link-secondary"><i data-feather="home"></i></a></li>
	      <li><a href="/community" class="nav-link px-2"><i data-feather="globe"></i></a></li>
	      <li><a href="/followers" class="nav-link px-2"><i data-feather="users"></i></a></li>
	      <li><a href="/post" class="nav-link px-2"><i data-feather="message-square"></i></a></li>
	      <li><a href="/analytics" class="nav-link px-2"><i data-feather="bar-chart-2"></i></a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/fortune" class="btn btn-primary">Spinning Wheel</a>
      </div>
    </header>
  </div>
